<nav id="desktop-nav">
    <div class="logo">Michael Vargas</div>
    <div>
    <ul class="nav-links">
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#contact">Contacto</a></li>
    </ul>
    </div>
</nav>
<nav id="hamburger-nav">
    <div class="logo">Michael Vargas</div>
    <div class="hamburger-menu">
    <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-links">
        <li><a href="#about" onclick="toggleMenu()">Sobre mí</a></li>
        <li><a href="#experience" onclick="toggleMenu()">Experiencia</a></li>
        <li><a href="#projects" onclick="toggleMenu()">Proyectos</a></li>
        <li><a href="#contact" onclick="toggleMenu()">Contacto</a></li>
    </div>
    </div>
</nav>